<template>
  <v-card @click="clickEvent()" class="w-full" :class="{ ['m-2 p-4 cursor-pointer']: allowClickEvent }">
    <v-btn v-if="!allowClickEvent" icon class="absolute top-0 right-0 z-10" @click="clickEvent()">
      <v-icon>close</v-icon>
    </v-btn>
    <v-img :src="pokemon.sprites.back_default" contain class="w-full h-auto"></v-img>

    <h2 class="text-center text-xl sm:text-3xl">{{ pokemon.name }}</h2>
    <p class="text-right">Peso: {{ pokemon.weight }}</p>
  </v-card>
</template>

<script>
export default {
  name: 'PokemonCard',
  props: {
    pokemon: {
      type: Object,
      default: null
    },
    allowClickEvent: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    clickEvent () {
      if (this.allowClickEvent) {
        this.$emit('details-click')
      }
    }
  }
}
</script>

<style scoped>

</style>