<template>
<!--  <v-dialog v-model="show" max-width="500px">-->
<!--    <v-card>-->
<!--      <pokemon-card :pokemon="pokemon"></pokemon-card>-->
<!--      <v-divider></v-divider>-->
<!--      &lt;!&ndash;      <v-layout column v-for="(move, idx) of moves" :key="idx">&ndash;&gt;-->
<!--      &lt;!&ndash;        {{move}}&ndash;&gt;-->
<!--      &lt;!&ndash;        <h3>{{move.name}}</h3>&ndash;&gt;-->
<!--      &lt;!&ndash;        <span>accuracy: {{move.accuracy}}</span>&ndash;&gt;-->
<!--      &lt;!&ndash;        <span>effect_chance: {{move.effect_chance}}</span>&ndash;&gt;-->
<!--      &lt;!&ndash;        <span>pp: {{move.pp}}</span>&ndash;&gt;-->
<!--      &lt;!&ndash;        <span>priority: {{move.priority}}</span>&ndash;&gt;-->
<!--      &lt;!&ndash;        <span>power: {{move.power}}</span>&ndash;&gt;-->
<!--      &lt;!&ndash;      </v-layout>&ndash;&gt;-->
<!--      <v-card-actions>-->
<!--        <v-btn color="primary" flat @click.stop="show=false">Close</v-btn>-->
<!--      </v-card-actions>-->
<!--    </v-card>-->
<!--  </v-dialog>-->

  <v-dialog v-model="show" max-width="500px">
    <v-card>
      <pokemon-card v-if="pokemon" :pokemon="pokemon"></pokemon-card>
      <h3 class="text-center text-lg sm:text-2xl py-2">Movimientos</h3>

      <v-layout column v-for="(move, idx) of moves" :key="idx">
        <v-layout column class="p-2">
          <h3 class="text-center font-semibold">{{ move.name }}</h3>
          <ul>
            <li>Precisión: {{ move.accuracy }}</li>
            <li>Chance de efecto: {{ move.effect_chance }}</li>
            <li>PP: {{ move.pp }}</li>
            <li>Prioridad: {{ move.priority }}</li>
            <li>Daño: {{ move.power }}</li>
          </ul>
        </v-layout>
        <v-divider></v-divider>
      </v-layout>

      <v-card-actions>
        <v-layout justify-end>
          <v-btn color="primary" @click.stop="show = false">Cerrar</v-btn>
        </v-layout>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import PokemonCard from './PokemonCard'

export default {
  name: 'PokemonDetails',
  components: { PokemonCard },
  props: {
    pokemon: null,
    value: Boolean,
    moves: []
  },
  computed: {
    show: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style scoped></style>
