<template>
  <v-layout wrap>
    <v-flex xs4 sm2 v-if="pokemons" v-for="pokemon of pokemons" :key="pokemon.id">
      <v-layout v-if="pokemon">
        <pokemon-card @details-click="openDialog(pokemon)" :pokemon="pokemon" allowClickEvent></pokemon-card>
        <pokemon-details v-model="pokemonDetailsDialog" :pokemon="selectedPokemon" :moves="moves"></pokemon-details>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios'
import PokemonDetails from '../components/PokemonDetails'
import PokemonCard from '../components/PokemonCard'

export default {
  components: { PokemonCard, PokemonDetails },
  data () {
    return {
      pokemons: [],
      moves: [],
      selectedPokemon: null,
      pokemonDetailsDialog: false
    }
  },
  mounted () {
    axios.get('https://pokeapi.co/api/v2/pokemon/').then(response => {
      response.data.results.forEach((item) => {
        axios.get(item.url).then(pokemon => this.pokemons.push(pokemon.data))
      })
    })
  },
  methods: {
    openDialog (pokemon) {
      this.selectedPokemon = pokemon
      this.moves = []
      pokemon.moves.forEach((item) => {
        axios.get(item.move.url).then(move => {
          if (this.moves.length < 5) { // TODO: Paginate
            this.moves.push(move.data)
          }
        })
      })
      this.pokemonDetailsDialog = true
    }
  }
}
</script>
